POSTGRES_USER=whc
POSTGRES_PASSWORD=1qaz
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=whc
POSTGRES_URL=postgres://whc:1qaz@localhost/whc
API_URL=http://localhost
APP_URL=http://localhost:3001
PORT=3000
JWT_SECRET=verysecret
AUTH_CALLBACK=/login/callback
EMAIL=ne-postmaster@example.com
SENDGRID_API_KEY=sendgridapikey